<h4>Showing Posts</h4>
<%= link_to @post.title, fix_url(@post.url) %>

<h4>Create a comment</h4>
<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :body %>
  <br/>
  <%= f.submit "Create Comment" %>
<% end %>

<h5>Comments:</h5>
<ul>
  <% @post.comments.each do |comment| %>
    <li><% comment.body %></li>
  <% end %>
</ul>